<head>
	{% block stylesheets %}
	</head>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<title>Freelancer - Start Bootstrap Theme</title>
		<!-- Favicon-->
		<link
		rel="icon" type="image/x-icon" href="front-end/accueil/assets/img/favicon.ico"/>
		<!-- Font Awesome icons (free version)-->
		<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
		<!-- Google fonts-->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
		<link
		href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link href="front-end/accueil/css/styles.css" rel="stylesheet"/>


	<!--   login head   begin  -->

		{# <meta charset="UTF-8">
							<meta
							name="viewport" content="width=device-width, initial-scale=1">
							<!--===============================================================================================-->
							<link
							rel="icon" type="image/png" href="front-end/inscription/images/icons/favicon.ico"/>
							<!--===============================================================================================-->
							<link
							rel="stylesheet" type="text/css" href="front-end/inscription/vendor/bootstrap/css/bootstrap.min.css">
							<!--===============================================================================================-->
							<link
							rel="stylesheet" type="text/css" href="front-end/inscription/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
							<!--===============================================================================================-->
							<link
							rel="stylesheet" type="text/css" href="front-end/inscription/vendor/animate/animate.css">
							<!--===============================================================================================-->
							<link
							rel="stylesheet" type="text/css" href="front-end/inscription/vendor/css-hamburgers/hamburgers.min.css">
							<!--===============================================================================================-->
							<link
							rel="stylesheet" type="text/css" href="front-end/inscription/vendor/select2/select2.min.css">
							<!--===============================================================================================-->
							<link rel="stylesheet" type="text/css" href="front-end/inscription/css/util.css">
							<link
							rel="stylesheet" type="text/css" href="front-end/inscription/css/main.css"> #}

		<!--   login head   end  -->
	</head>
{% endblock %}</head>{% block body %}

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->
<script src="front-end/accueil/assets/mail/jqBootstrapValidation.js"></script>
<script src="front-end/accueil/assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="front-end/accueil/js/scripts.js"></script>


<!-- login begin-->{# <!--===============================================================================================-->
					<script src="front-end/inscription/vendor/jquery/jquery-3.2.1.min.js"></script>
					<!--===============================================================================================-->
					<script src="front-end/inscription/vendor/bootstrap/js/popper.js"></script>
					<script src="front-end/inscription/vendor/bootstrap/js/bootstrap.min.js"></script>
					<!--===============================================================================================-->
					<script src="front-end/inscription/vendor/select2/select2.min.js"></script>
					<!--===============================================================================================-->
					<script src="front-end/inscription/vendor/tilt/tilt.jquery.min.js"></script>
					<script>
						$('.js-tilt').tilt({scale: 1.1})
					</script>
					<!--===============================================================================================-->
					<script src="front-end/inscription/js/main.js"></script> #}
<!-- login   end -->{% endblock %}{% block javascripts %}{% endblock %}
